body{
    font-family: 'Lumanosimo', cursive;
}
h1{
    font-size: 70px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: #3586ff;
}
h2{
    font-size: 60px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: #3586ff;
}
